<section class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="panel session-info">
                <div class="panel-heading">
                    <span class="panel-title">
                        <i class="panel-title-icon ion-cash"></i> Session Controls
                    </span>
                    <div class="panel-heading-controls">
                        <button class="btn btn-xs btn-success" onClick="PhotonDrop.Session.start();">
                            <i class="ion-ios-play"></i> Start Session
                        </button>
                        <button class="btn btn-xs btn-warning" onClick="extendSession()">
                            <i class="ion-ios-plus-empty"></i> Extend Session
                        </button>
                        <button class="btn btn-xs btn-danger" onClick="PhotonDrop.Session.end();">
                            <i class="ion-stop"></i> End Session
                        </button>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="ion-ios-gear"></i> Config
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a nohref data-toggle="modal" data-target="#session-create">Create New Session</a>
                                </li>
                                <li>
                                    <a nohref data-toggle="modal" data-target="#session-parse">Parse Dropbot Message</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a nohref data-toggle="modal" data-target="#session-announcement">New Announcement</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Session#</th>
                            <td class="sess-id"></td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td class="sess-type"></td>
                        </tr>
                        <tr>
                            <th scope="row">Started</th>
                            <td class="sess-started"></td>
                        </tr>
                        <tr>
                            <th scope="row">Duration</th>
                            <td class="sess-duration"></td>
                        </tr>
                        <tr>
                            <th scope="row">Location</th>
                            <td class="sess-location"></td>
                        </tr>
                        <tr>
                            <th scope="row">Remaining</th>
                            <td class="sess-remaining"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        <i class="panel-title-icon ion-ios-people"></i>Dropees
                    </span>
                    <div class="panel-heading-controls">
                        <button class="btn btn-xs btn-warning" onClick="copyDropeeTags();">
                            <i class="ion-ios-location"></i> Copy Tags</button>
                        <button class="btn btn-xs btn-primary" onClick="populateDropeeTable();">
                            <i class="ion-ios-reload"></i> Reload</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="dropeeTable" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Social Club</th>
                                <th>Discord</th>
                                <th>Drops</th>
                                <th>Warnings (Session / Total)</th>
                            </tr>
                        </thead>
                        <tbody class="valign-middle">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="dropee-action" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Dropee Information</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <caption>User Information</caption>
                            <tbody>
                                <tr>
                                    <th scope="row">User#</th>
                                    <td class="dbl-userid"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Username</th>
                                    <td class="dbl-username"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Social Club</th>
                                    <td class="dbl-socialclub"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Drops attended (dropBot)</th>
                                    <td class="dbl-attended-global"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Drops attended (mine)</th>
                                    <td class="dbl-attended-mine"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Received Warnings</th>
                                    <td class="dbl-warnings"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Blacklist</th>
                                    <td class="dbl-blacklist"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Notes</th>
                                    <td class="dbl-notes"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <caption>Social Club Lookup</caption>
                            <tbody>
                                <tr>
                                    <th scope="row">Username</th>
                                    <td class="scl-username"></td>
                                </tr>
                                <tr>
                                    <th scope="row">🌐 Rank</th>
                                    <td class="scl-rank"></td>
                                </tr>
                                <tr>
                                    <th scope="row">🌐 Rank in RP</th>
                                    <td class="scl-rank-rp"></td>
                                </tr>
                                <tr>
                                    <th scope="row">🕒 Play Time</th>
                                    <td class="scl-play-time"></td>
                                </tr>
                                <tr>
                                    <th scope="row">💰 Money (Cash)</th>
                                    <td class="scl-money-cash"></td>
                                </tr>
                                <tr>
                                    <th scope="row">💰 Money (Bank)</th>
                                    <td class="scl-money-bank"></td>
                                </tr>
                                <tr>
                                    <th scope="row">💰 Money (Total)</th>
                                    <td class="scl-money-total"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Crew (Active)</th>
                                    <td>
                                        <img class="scl-crew-img" src="" />
                                        <span class="scl-crew-name"></span>
                                        <span class="scl-crew-tag"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning">Warn User</button>
                <button type="button" class="btn btn-danger">Kick User</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="session-create" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Create Session</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="cs-type" class="col-md-3 control-label">Session Type</label>
                        <div class="col-md-9">
                            <select class="form-control" id="cs-type">
                                <option value="open">Open Lobby</option>
                                <option value="limited">Limited Lobby</option>
                                <option value="impromptu">Impromptu</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cs-duration" class="col-md-3 control-label">Duration</label>
                        <div class="col-md-9">
                            <input class="form-control" id="cs-duration" type="number" value="45">
                            <small class="text-muted">Duration is always in minutes. E.g. use '120' for 2 hours.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="grid-input-3" class="col-md-3 control-label">Location</label>
                        <div class="col-md-9">
                            <input id="cs-location" class="form-control" type="text" value="Los Santos Intl. Airport">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn">Create Session</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="session-parse" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Parse dropBot Message</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="ps-dropees" class="col-md-3 control-label">Dropbot Message</label>
                        <div class="col-md-9">
                            <textarea id="ps-dropees" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn">Add Dropees</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="session-announcement" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Create Announcement</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="sa-chooser" class="col-md-3 control-label">Select Text</label>
                        <div class="col-md-9">
                            <select id="sa-chooser" class="form-control">
                                <option value="empty">Empty Text</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sa-text" class="col-md-3 control-label">Text</label>
                        <div class="col-md-9">
                            <textarea id="sa-text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn">Copy</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="session-warning" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Send Warning</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="warn-receiver" class="col-md-3 control-label">Receiver</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="warn-receiver" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="warn-chooser" class="col-md-3 control-label">Select Reason</label>
                        <div class="col-md-9">
                            <select id="warn-chooser" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="warn-reason" class="col-md-3 control-label">Reason Text</label>
                        <div class="col-md-9">
                            <textarea id="warn-reason" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn">Copy Text & Save into Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="assets/js/pages/session.js"></script>