<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<section class="container-fluid">

    <div class="row">
        <div class="col-md-3 ml-sm-auto col-sm-3">
            <div class="panel general-settings">
                <div class="panel-heading">
                    <span class="panel-title">Settings</span>
                </div>
                <form class="panel-body">
                    <fieldset class="form-group">
                        <label for="threshold_money">Money Threshold</label>
                        <input class="form-control" id="threshold_money" type="number">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="threshold_warns">Warning Threshold</label>
                        <input class="form-control" id="threshold_warns" type="number">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="announcements_with_mention">Announcements with Mention</label>
                        <select class="form-control" id="announcements_with_mention">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-3 ml-sm-auto col-sm-3">
            <div class="panel session-defaults">
                <div class="panel-heading">
                    <span class="panel-title">Session Defaults</span>
                </div>
                <form class="panel-body">
                    <fieldset class="form-group">
                        <label for="session_type">Session Type</label>
                        <select class="form-control" id="session_type">
                            <option value="open">Open Lobby</option>
                            <option value="limited">Limited Lobby</option>
                            <option value="impromptu">Impromptu</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="session_duration">Session Duration (in Minutes)</label>
                        <input type="number" class="form-control" id="session_duration">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="session_location">Session Location</label>
                        <input type="text" class="form-control" id="session_location">
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-3 ml-sm-auto col-sm-3">
            <div class="panel application-settings">
                <div class="panel-heading">
                    <span class="panel-title">Application Settings</span>
                    <div class="panel-heading-controls">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="ion-ios-gear"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a nohref onClick="backupData()">Backup Data</a>
                                </li>
                                <li>
                                    <a nohref onClick="restoreData()">Restore Data</a>
                                </li>
                                <li>
                                    <a nohref onClick="resetApp()">Reset App</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form class="panel-body">
                    <fieldset class="form-group">
                        <label for="app_theme">Application Theme</label>
                        <div class="row">
                            <div class="col-md-8 ml-sm-auto col-sm-8">
                                <select class="form-control" id="app_theme"></select>
                            </div>
                            <div class="col-md-4 ml-sm-auto col-sm-4">
                                <button class="btn btn-success form-control" onClick="openFolder('themes'); return false;">Open Folder</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="app_soundscheme">Sound Scheme</label>
                        <div class="row">
                            <div class="col-md-8 ml-sm-auto col-sm-8">
                                <select class="form-control" id="app_soundscheme"></select>
                            </div>
                            <div class="col-md-4 ml-sm-auto col-sm-4">
                                <button class="btn btn-success form-control" onClick="openFolder('sounds'); return false;">Open Folder</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="sclogin">Social Club Login</label>
                        <div class="row">
                            <div id="scloginstate" class="col-md-6 ml-sm-auto col-sm-6">
                                Checking Login State...
                            </div>
                            <div class="col-md-6 ml-sm-auto col-sm-6">
                                <button class="btn btn-warning form-control" id="sclogin">Login to SocialClub</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-3 ml-sm-auto col-sm-3">
            <div class="panel discord-settings">
                <div class="panel-heading">
                    <span class="panel-title">Discord Settings</span>
                </div>
                <form class="panel-body">
                    <fieldset class="form-group">
                        <label for="discord_preparing">Display "Preparing a drop"</label>
                        <select class="form-control" id="discord_preparing">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </fieldset>
                </form>
            </div>

            <div class="panel setting-controls">
                <div class="panel-body">
                    <button onClick="saveSettings()" class="form-control btn btn-xs btn-success btn-outline">
                        <i class="fa fa-check"></i> Save All
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ml-sm-auto col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Predefined Texts</span>
                </div>
                <div class="panel-body">
                    Click to load a predefined text for futher editing.
                </div>
                <ul class="list-group texts-nav">
                </ul>
            </div>
        </div>
        <div class="col-md-9 ml-sm-auto col-sm-9">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Markdown</span>
                    <div class="panel-heading-controls">
                        <button class="btn btn-xs btn-danger btn-outline" onClick="deleteText()">
                            <i class="fa fa-close"></i> Delete</button>
                    </div>
                </div>
                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <label for="text-title">Title</label>
                            <input class="form-control" id="text-title" value="" type="text">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="text-scope">Scope</label>
                            <select class="form-control" id="text-scope">
                                <option>announcement</option>
                                <option>warning</option>
                            </select>
                        </fieldset>
                        <div class="md-editor">
                            <textarea id="markdown" data-id="new" class="form-control md-input" rows="10" style="resize: none;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/js/pages/settings.js"></script>