<div class="page-header">
    <h1>Welcome</h1>
</div>

<div class="alert alert-dark alert-danger">
    <b>Attention!</b> This is an early release version. It may contain many bugs. I cannot guarantee that all functions work flawlessly nor that the application is stable.<br />
    <i>Use and proceed on your own risk.</i>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <img class="panel-img" src="assets/img/welcome-box-img.png">
            <div class="panel-title">PhotonDrop V</div>
            <small class="panel-subtitle text-muted">Welcome to PhotonDrop Version 5</small>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">
                    <i class="panel-title-icon ion-connection-bars"></i> Rockstar Games Server Status</span>
            </div>
            <table class="table table-striped rsg-status text-center">
                <thead>
                    <tr>
                        <th>Service</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="status">
                        <th scope="row">Status</th>
                    </tr>
                    <tr class="updated">
                        <th scope="row">Updated</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">
                    <i class="panel-title-icon ion-waterdrop"></i> Recent Drops</span>
            </div>
            <table class="table table-striped drop-history">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Duration (planned)</th>
                        <th>Location</th>
                        <th>Created</th>
                        <th>Started</th>
                        <th>Ended</th>
                        <th>Duration (start to end)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="assets/js/pages/main.js"></script>