<section class="container-fluid">
    <div class="row">
        <div class="col-sm-6 ml-sm-auto col-md-6">
            <h1>
                User List
                <button id="addUserManually" class="btn btn-sm btn-3d btn-info pull-right" onClick="$('#modal-add-user').modal('toggle')">Add User</button>
                <button class="btn btn-sm btn-3d btn-primary pull-right" onClick="populateUserList();">
                    <i class="ion-ios-refresh-empty"></i>
                </button>
            </h1>

            <div class="table-responsive">
                <table id="usersTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>User#</th>
                            <th>Discord Username</th>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6 ml-sm-auto col-md-6">
            <h1>User Info</h1>
            <div class="panel panel-info panel-dark widget-profile">
                <div class="panel-heading">
                    <img src="" alt="" class="widget-profile-avatar">
                    <h3 class="widget-profile-header">
                        <span class="user-name" contenteditable="true">Please select a user</span>
                        <span class="user-id widget-profile-secondary-text">0000000000000</span>
                    </h3>
                    <i class="widget-profile-bg-icon ion-ios-star-outline"></i>
                </div>
                <div class="widget-profile-counters">
                    <a href="#" class="col-xs-4">
                        <span class="widget-profile-counter attended-global" contenteditable="true">0</span>
                        Attended (dropBot)
                    </a>
                    <a href="#" class="col-xs-4">
                        <span class="widget-profile-counter attended-mine">0</span>
                        Attended (mine)
                    </a>
                    <a href="#" class="col-xs-4">
                        <span class="widget-profile-counter user-warns">0</span>
                        Received Warns
                    </a>
                </div>
                <div class="list-group">
                    <span class="list-group-item">
                        <b>Social Club:</b>
                        <span class="user-socialclub" contenteditable="true">Please select a user</span>
                    </span>
                    <span class="list-group-item">
                        <b>Blacklisted:</b>
                        <span class="user-blacklist">Please select a user</span>
                    </span>
                </div>
                <textarea class="form-control input-lg widget-profile-input">Please select a user</textarea>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger user-delete" disabled>Delete</button>
                        <button type="button" class="btn btn-secondary user-toggle-blacklist" disabled>Toggle Blacklist</button>
                        <button type="button" class="btn btn-success user-save" disabled>Save</button>
                    </div>
                </div>
            </div>
            <div class="user-history panel m-b-0 p-y-1 b-t-0" style="overflow-y: scroll; height:400px;">
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-add-user" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add new user to database</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="input-discord-id" class="col-md-3 control-label">Discord User ID</label>
                        <div class="col-md-9">
                            <input class="form-control" id="input-discord-id" placeholder="00000000000000000000" type="number" min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-discord-username" class="col-md-3 control-label">Discord Username</label>
                        <div class="col-md-9">
                            <input class="form-control" id="input-discord-username" placeholder="Username#0001" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-socialclub" class="col-md-3 control-label">Social Club</label>
                        <div class="col-md-9">
                            <input class="form-control" id="input-socialclub" placeholder="ReadRule11" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-drops-attended" class="col-md-3 control-label">Drops attended</label>
                        <div class="col-md-9">
                            <input class="form-control" id="input-drops-attended" value="0" type="number" min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Blacklist</label>
                        <div class="col-md-9">
                            <label class="custom-control custom-checkbox" for="input-blacklist">
                                <input id="input-blacklist" class="custom-control-input" type="checkbox">
                                <span class="custom-control-indicator"></span>
                                Immediately add user to blacklist
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success form-control btn-3d user-save-new" value="Save new user">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="assets/js/pages/users.js"></script>